{% extends 'base.html.twig' %}

{% block title %}Nos Produits!{% endblock %}

{% block content %}
    <h1> Nos Produits </h1> 
<div class="row"> 
{% for produit in produits %} 

   <div class="col-md-4">
        <div class="produit-item text-center">
            <img src="/uploads/images/{{produit.image}}" alt="" class="img-fluid"> 
            <h5> {{produit.nom}} </h5>
            <span>{{produit.subtitle}}  </span> <br>
           <span> prix :{{produit.prix}} </span>
        </div>
   </div>
{% endfor %}
</div>
{% endblock %}
 