{% extends 'base.html.twig'%}
{% block content %}
    <link rel="stylesheet" href=" {{asset('assets/css/inscription.css') }}">

  <div class="inscription">  
         <H1>INSCRIPTION</H1>

    {{form(form)}}
  
  </div>
   
{% endblock %}

